:root {
    --dark-mode-background-primary-color: #242424;
    --dark-mode-background-secondary-color: #1d1d1d;
    --dark-mode-text-primary-color: #999;
    --dark-mode-text-secondary-color: #5a5a5a;
    --dark-mode-border-color: #111;

    --light-mode-background-primary-color: #ddd;
    --light-mode-background-secondary-color: #c0bebe;
    --light-mode-text-primary-color: #242424;
    --light-mode-text-secondary-color: #5a5a5a;
    --light-mode-border-color: #aaa;
}


.app--light {
    --app-background-primary-color: var(--light-mode-background-primary-color);
    --app-background-secondary-color: var(--light-mode-background-secondary-color);
    --app-text-primary-color: var(--light-mode-text-primary-color);
    --app-text-secondary-color: var(--light-mode-text-secondary-color);
    --app-border-color: var(--light-mode-border-color);
}

.app--dark {
    --app-background-primary-color: var(--dark-mode-background-primary-color);
    --app-background-secondary-color: var(--dark-mode-background-secondary-color);
    --app-text-primary-color: var(--dark-mode-text-primary-color);
    --app-text-secondary-color: var(--dark-mode-text-secondary-color);
    --app-border-color: var(--dark-mode-border-color);
}

.app {    
    background-color: var(--app-background-primary-color);
    color: var(--app-text-primary-color);
    padding: 4rem 1rem 0 1rem;
    min-height: 100vh;
}



/*  SEMANTIC UI OVERRIDES */
.ui.dimmer, .ui.dimmer.inverted {
    background-color: var(--app-background-primary-color);
}