.menu { 
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1;
    background-color: var(--app-background-secondary-color);
    border-bottom: 2px solid var(--app-border-color);
}
 
.menu-items {
    display: flex;
    align-items: center;
}

.menu-items__item {
    padding: 1rem .5rem;
}

.menu-items__item--showtimes-link {
    font-weight: bold;
    font-size: 1.1rem;
}

.menu-items__item--collection-date {
    flex-grow: 1;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--app-text-secondary-color);
}

.menu-items__item--settings-link {
    padding: 1rem;
}
