.prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.prompt__main-text {
    font-weight: bold;
    font-size: 1.5rem;
}

.prompt__secondary-text {
    /* background-color: green; */
    text-align: center;
    width: 75%;
    font-weight: bold;
}

.prompt__icon {
    margin-top: 1rem;
    font-size: 5rem !important; /* skip the specifiticy fight with semantic-ui */
}