.movie-item {
    display: flex;
    padding-top: .5rem; 
    padding-bottom: .5rem;
    align-items: center;
    border-bottom: 1px solid var(--app-border-color);
    color: inherit;
}

.movie-item__time {
    width: 30%;
    text-align: center;
    /* font-weight: bold; */
    font-size: 1.25rem;
}

.movie-item__info {
    width: 50%;
}

.movie-item__poster {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
}

.movie-item__image {
    width: 4rem;
}

.movie-item__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.movie-item__description {
    font-size: 1rem;
    color: var(--app-text-secondary-color);
}