.toggle-setting {
    display: flex;
    padding: 1rem 0 1rem 0;
    align-items: center;
    border-bottom: 1px solid var(--app-border-color);
}

.toggle-setting:hover {
    cursor: pointer;
}

.toggle-setting__checkmark {
    width: 25%;
    /* background-color: pink; */
    text-align: center;
}

.toggle-setting__info {
    width: 75%;
    /* background-color: green; */
}

.toggle-setting__main-text {
    font-size: 1.25rem;
    font-weight: bold;
}

.toggle-setting__secondary-text {
    font-size: 1rem;
    margin-top: .25rem;
    color: var(--app-text-secondary-color);
}